html {
  background-color: #f2f5f9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #ffffff;
  width: 418px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
header {
  display: flex;
  width: fit-content;
  flex-direction: column;
  position: relative;
}
main {
  display: flex;
  flex-direction: column;
  width: auto;
}
footer {
  display: flex;
  flex-direction: row;
  width: 418px;
}
.container {
  width: fit-content;
  height: fit-content;
  /* border: solid #000000; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.element {
  margin: 0 35px 10px 35px;
}
.imagen1 {
  position: relative;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.imagen2 {
  position: absolute;
  bottom: -1px;
}
.lato-regular {
  color: #4a5567;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
.poppins-regular {
  color: #111729;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}
